{% extends "../../layout.njk" %}
{% set title = 'Item' %}

{% block content %}
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#showItems" role="tab" aria-controls="home" aria-selected="true">Item</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#addItem" role="tab" aria-controls="profile" aria-selected="false">Add Item</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="showItems" role="tabpanel" aria-labelledby="home-tab">
      {% include "./item-table.njk" %}
    </div>
    <div class="tab-pane fade" id="addItem" role="tabpanel" aria-labelledby="profile-tab">
      {% include "./add-item.njk" %}
    </div>
  </div>

{% endblock content %}

{% block styles %}
  <!-- Custom styles for this page -->
  <link href="/sb-admin-2/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
{% endblock styles %}

{% block scripts %}
  <!-- Page level plugins -->
  <script src="/sb-admin-2/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="/sb-admin-2/vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="/sb-admin-2/js/demo/datatables-demo.js"></script>
  <script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>
  <script>
    $(document).ready(function() {
      CKEDITOR.replace('description')
    })
  </script>
{% endblock scripts %}
