<!-- Items Table -->
<div class="card shadow mt-2">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>No</th>
            <th>Title</th>
            <th>Price</th>
            <th>Country</th>
            <th>City</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for item in items %}
            <tr>
              <td>{{ loop.index }}</td>
              <td>{{ item.title }}</td>
              <td>$ {{ item.price }}</td>
              <td>{{ item.country }}</td>
              <td>{{ item.city }}</td>
              <td>
                <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#showImages" data-title="{{ item.title }}" data-images="{{ stringify(item.images) }}">
                  <i class="fas fa-image"></i>
                </button>
                <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#editModal">
                  <i class="fas fa-edit"></i>
                </button>
                <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#deleteModal">
                  <i class="fas fa-trash"></i>
                </button>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
