{% extends "../../layout.njk" %}
{% set pageTitle = 'Category' %}

{% block content %}
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Category Table</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>No</th>
              <th>Name</th>
              <th>Action</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
{% endblock content %}

{% block styles %}
  <!-- Custom styles for this page -->
  <link href="/sb-admin-2/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
{% endblock styles %}

{% block scripts %}
  <!-- Page level plugins -->
  <script src="/sb-admin-2/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="/sb-admin-2/vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="/sb-admin-2/js/demo/datatables-demo.js"></script>
{% endblock scripts %}
