{% extends "../../layout.njk" %}
{% set pageTitle = 'Bank' %}

{% block content %}
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#addModal">
        <i class="fas fa-plus"></i>
      </button>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>No</th>
              <th>Bank Name</th>
              <th>Account Name</th>
              <th>Account Number</th>
              <th>Image</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for bank in banks %}
              <tr>
                <td>{{ loop.index }}</td>
                <td>{{ bank.bank_name }}</td>
                <td>{{ bank.account_name }}</td>
                <td>{{ bank.account_number }}</td>
                <td>
                  <img src="http://localhost:3002/{{ bank.image }}" alt="{{ bank.bank_name }}" width="70px">
                </td>
                <td>
                  <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#editModal" data-name="{{ bank.bank_name }}" data-id="{{ bank._id }}" data-account-name="{{ bank.account_name }}" data-account-number="{{ bank.account_number }}">
                    <i class="fas fa-edit"></i>
                  </button>
                  <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#deleteModal" data-name="{{ bank.bank_name }}" data-id="{{ bank._id }}">
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  {% include "./modal_add.njk" %}
  {% include "./modal_edit.njk" %}
  {% include "./modal_delete.njk" %}
{% endblock content %}

{% block styles %}
  <!-- Custom styles for this page -->
  <link href="/sb-admin-2/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
{% endblock styles %}

{% block scripts %}
  <!-- Page level plugins -->
  <script src="/sb-admin-2/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="/sb-admin-2/vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="/sb-admin-2/js/demo/datatables-demo.js"></script>

  <script>
    $(document).ready(function() {
      $('#editModal').on('show.bs.modal', (e) => {
        let button = $(e.relatedTarget)

        $(this).find('form').attr('action', '/admin/banks/' + button.data('id'))
        $(this).find('#inputEditName').val(button.data('name'))
        $(this).find('#inputEditAccountName').val(button.data('account-name'))
        $(this).find('#inputEditAccountNumber').val(button.data('account-number'))
      })

      $('#deleteModal').on('show.bs.modal', (e) => {
        let button = $(e.relatedTarget)

        $(this).find('form').attr('action', '/admin/banks/' + button.data('id'))
        $(this).find('#bankNameDelete').text(button.data('name'))
      })
    })
  </script>
{% endblock scripts %}
